.nav {
  min-width: 320px;
  max-width: 1440px;
  color: white;
  border-bottom: 0.5px solid;
  border-color: rgba(255, 255, 255, 0.5);
  padding: 16px 52px 13px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav_dark {
  border-bottom: 0.5px solid;
  border-color: #1a1b22;
}
.nav__container {
  min-height: 66px;
}

.nav__buttons {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.nav__buttons-saved {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.nav__title {
  color: white;
  font-size: 20px;
  font-family: "Roboto-Slab-700";
  margin: 0;
}

.nav__title-saved {
  color: #1a1b22;
  font-size: 20px;
  font-family: "Roboto-Slab-700";
  margin: 0;
}

.nav__button {
  color: white;
  background: none;
  border: none;
  width: 49px;
  font-size: 18px;
  padding: 0;
  cursor: pointer;
  font-family: "Roboto-400";
}

.nav__button-saved {
  color: #1a1b22;
  background: none;
  border: none;
  font-size: 18px;
  padding: 0;
  cursor: pointer;
  font-family: "Roboto-400";
}

.nav__button-register {
  background: none;
  border: 1px solid;
  border-radius: 25px;
  width: 176px;
  height: 48px;
  color: white;
  font-size: 18px;
  padding: 0;
  cursor: pointer;
  font-family: "Roboto-500";
}

.nav__button-logout {
  background: none;
  border: 1px solid;
  border-radius: 25px;
  color: #1a1b22;
  font-size: 18px;
  padding: 12px 19px;
  cursor: pointer;
  font-family: "Roboto-500";
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.nav__button-logout-icon {
  width: 18px;
  height: 16px;
}

.nav__mobile-toggle {
  visibility: hidden;
  display: none;
}

@media screen and (max-width: 815px) {
  .nav__button-register {
    width: 152px;
    height: 40px;
  }

  .nav__button {
    font-size: 16px;
  }
}

@media screen and (max-width: 645px) {
  .nav__mobile-toggle {
    visibility: visible;
    display: contents;
  }

  .nav {
    visibility: hidden;
    display: none;
  }
}
