.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: white;
  position: relative;
  overflow: hidden;
}

/* .card__container {
  overflow: hidden;
} */

.card__image {
  max-height: 272px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.card__text-container {
  padding: 16px;
  text-align: left;
}

.card__text {
  text-align: left;
  max-height: 110px;
  max-width: 352px;
  white-space: break-spaces;
  flex-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Roboto-400";
  font-size: 16px;
  line-height: 22px;
  margin: 16px auto 0;
}

.card__title {
  font-family: "Roboto-Slab-400";
  font-size: 26px;
  height: 60px;
  line-height: 30px;
  text-overflow: ellipsis;
  margin: 12px auto 0;
}

.card__date {
  font-size: 18px;
  line-height: 24px;
  color: #b6bcbf;
  margin: 0;
  max-width: 149px;
}

.card__author {
  font-family: "Roboto-Slab-700";
  font-size: 16px;
  color: #b6bcbf;
  line-height: 20px;
  margin: 18px auto 0;
  text-transform: uppercase;
}

.card__bookmark {
  background: white url("../../images/bookmark.svg") center no-repeat;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  position: relative;
  top: 60px;
  left: 335px;
  z-index: 1;
}

/* .card__bookmark-img {
  width: 14px;
  height: 19px;
  padding: 0;
  margin: 0;
} */

/* FIX THE BOOKMARK IMAGES */

@media screen and (max-width: 815px) {
  .card {
    max-width: 224px;
    max-height: 420px;
  }

  .card__image {
    max-height: 150px;
  }

  /* .card__container {
    max-height: 420px;
  } */

  .card__title {
    font-size: 22px;
    max-height: 50px;
  }

  .card__text {
    height: 88px;
    width: 192px;
  }

  .card__bookmark {
    left: 165px;
  }

  .card__author {
    margin: 12px auto 0;
  }
}
