.footer {
  margin: 0 auto;
  color: black;
  background: white;
}

.footer__content {
  padding: 112px 104px 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer__content-social {
  font-family: "Roboto-400";
  font-size: 18px;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.footer__content-copyright {
  font-family: "Roboto-400";
  font-size: 16px;
  line-height: 22px;
  margin: 0;
}

.footer__content-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  margin: 0;
  padding: 0;
}

.footer__content_list-item {
  font-family: "Roboto-400";
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
}

.footer__content_list-img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.footer__content_list-text {
  margin: 0;
}
